# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env
client_test
temp
src/qcat_tests/result_*
logs/

venv
node_modules
.vscode

/.idea/
package-lock.json
server/package-lock.json
